.sideBar {
    background-color: #074F57;
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.toolBar {
    margin: 25px;
}

.toolBar input {
    background-color: #08656F;
    border: none; 
    border-radius: 15px;
    color: #CBCBCB;
    font-size: 30px;
    height: 70px;
    width: 366px;
}

.createButton {
    background-color: #08656F;
    border: none;
    border-radius: 15px;
    height: 70px;
    width: 70px;
    float: right;
}

.createIcon {
    height: 40px;
    width: 40px;
}

.todayMenu > h1 {
    color: #CBCBCB;
    font-family: Helvetica, Sans-Serif;
    font-size: 50px;
    font-weight: lighter;
    margin-left: 25px;
}

.projectsToolbar {
    height: 70px;
}

.projectsToolbar > h1 {
    color: #CBCBCB;
    font-family: Helvetica, Sans-Serif;
    font-size: 50px;
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    float: left;
    vertical-align: middle;
}

.projectsToolbar > button {
    background-color: #08656F;
    border: none;
    border-radius: 15px;
    font-size: 50px;
    height: 70px;
    width: 70px;
    float: right;
    margin-right: 25px;
}

.projectButton {
    background-color: #074F57;
    border: none;
    display: block;
    float: left;
    height: 40px;
    width: 500px;
}

.projectButton.active {
    color: #333;
    background-color:red;
}

.projectName {    
    color: #CBCBCB;
    font-family: Helvetica, Sans-Serif;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    text-align: start;
}