.sideBar {
    background-color: #074F57;
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.toolBar {
    margin: 25px;
}

.toolBar input {
    background-color: #08656F;
    border: none;
    border-radius: 15px;
    color: #CBCBCB;
    height: 69px;
    width: 366px;
    font-size: 30px;
}

.createButton {
    background-color: #08656F;
    border: none;
    border-radius: 15px;
    height: 69px;
    width: 69px;
    float: right;
}

.createIcon {
    height: 40px;
    width: 40px;
}

.todayMenu > h1, p {
    color: #CBCBCB;
    font-family: Helvetica, Sans-Serif;
    margin-left: 25px;
}

.todayMenu > h1 {
    font-size: 50px;
}

.todayMenu > p {
    font-size: 50px;
}

.projectsMenu > h1, p {
    color: #CBCBCB;
    font-family: Helvetica, Sans-Serif;
    margin-left: 25px;
}

.projectsMenu > h1 {
    font-size: 50px;
    float: left;
}

.projectsMenu > .addProject {
    background-color: #08656F;
    border: none;
    border-radius: 15px;
    font-size: 50px;
    height: 69px;
    width: 69px;
    float: right;
    margin-right: 25px;
}

.projectsMenu > p {
    font-size: 50px;
}
